<?xml version="1.0" encoding="utf-8"?>

<!--
Depends package: Eesti_ID_kaart-CPP-teek-arendajale-3.10.0.3672.BETA.msi
msiexec /a Eesti_ID_kaart-CPP-teek-arendajale-3.10.0.3672.BETA.msi /qn TARGETDIR=C:\target

"%WIX%\bin\heat.exe dir "C:\target\Estonian ID Card Development\libdigidocpp\certs"
 -cg Certs -gg -scom -sreg -sfrag -srd -dr CertsFolder -var var.certsLocation -out CertsFragment.wxs

"%WIX%\bin\candle.exe" tera.wxs -dMSI_VERSION=0.0.4
 -dlibs_path="C:\target\Estonian ID Card Development\libdigidocpp\x86"
 -dqt_path=C:\Qt5.7.0VS\5.7\msvc2013
 -dclient_path=Release\qdigidoc_tera_gui.exe

"%WIX%\bin\light.exe" -out qdigidoc.msi qdigidoc.wixobj CertsFragment.wixobj -v -ext WixUIExtension
-->

<?ifndef Platform ?>
<?define Platform="x86" ?>
<?endif ?>

<?if $(var.Platform) = x64 ?>
  <?define PlatformProgramFilesFolder = "ProgramFiles64Folder" ?>
<?else ?>
  <?define PlatformProgramFilesFolder = "ProgramFilesFolder" ?>
<?endif ?>

<!--?if $(env.VCINSTALLDIR) = "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\" ?>
<?define VCVER = "140" ?>
<?define VCRT = "vcruntime" ?>
<?else?>
<?define VCVER = "120" ?>
<?define VCRT = "msvcr" ?>
<?endif?-->


<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">





  <Product Name="TeRa Client" UpgradeCode="67932072-aa9e-45e3-b697-d825349f27ff"
      Id="*" Language="1033" Version="$(var.MSI_VERSION)" Codepage="1251" Manufacturer="RIA"> <!-- TODO UpgradeCode -->
    <Package Platform="$(var.Platform)" Keywords="Installer" InstallerVersion="405" Compressed="yes" InstallScope="perMachine"/>
    <MediaTemplate EmbedCab="yes" CompressionLevel="high"/>
    <Icon Id="qdigidoc_tera_gui.exe" SourceFile="$(var.client_path)\qdigidoc_tera_gui.exe"/>
    <Property Id="ARPPRODUCTICON" Value="qdigidoc_tera_gui.exe"/>
    <Property Id="DESKTOP_SHORTCUT" Value="1"/>
    <MajorUpgrade AllowSameVersionUpgrades="yes" Schedule="afterInstallInitialize" DowngradeErrorMessage=
      "A newer version of [ProductName] is already installed. If you are trying to downgrade, please uninstall the newer version first."/>
    <Condition Message="[ProductName] requires Windows 7 or higher.">
      <![CDATA[Installed OR (VersionNT >= 601)]]>
    </Condition>

    <WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="dlgbmp.bmp" />

    <!--UIRef Id="WixUI_Minimal" http://wixtoolset.org/documentation/manual/v3/wixui/wixui_customizations.html /-->
<!--UI Id='xxx'>
    <UIRef Id="WixUI_FeatureTree"/>
    <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="CustomizeDlg" Order="3">1</Publish>
    <Publish Dialog="CustomizeDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="3">1</Publish>
</UI-->
    <UIRef Id="WixUI_MondoNoLicense" />
    <!--UIRef Id="WixUI_Mondo" /-->

    <Directory Id="TARGETDIR" Name="SourceDir">
      <!-- Program Menu shortcut -->
      <Directory Id="ProgramMenuFolder">
        <!--Directory Id="ProgramMenuDir" Name="!(loc.idcardLabel)"-->
        <Directory Id="ProgramMenuDir" Name="!(loc.TeRaProgamMenuDir)">
          <Component Id="ProgramMenuDir" Guid="5d26b9c2-cc87-452e-8132-76f0fc8f3eff"> <!-- TODO Guid -->
            <RemoveFolder Id="ProgramMenuDir" On="uninstall" />
            <RegistryValue Root='HKMU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
          </Component>
        </Directory>
      </Directory>

      <!-- Desktop shortcut -->
      <Directory Id="DesktopFolder">
        <Component Id="DesktopShortcut" Guid="412b4616-001f-49ec-a9be-c942eb165fff" Transitive="yes">
          <Condition>DESKTOP_SHORTCUT = 1</Condition> <!-- TODO use 0 instead -->
          <!-- Name="!(loc.qdigidocclientLabel)" -->
          <Shortcut Id="TeraDesktopShortcut" Name="!(loc.TeRaShortcutName)"
                    Target="[!qdigidoc_tera_gui.exe]" WorkingDirectory="APPLICATIONFOLDER"/>
          <RegistryValue Root="HKCU" Key="Software\[Manufacturer]\[ProductName]" Name="DesktopShortcut" Value="1" Type="integer" KeyPath="yes"/>
        </Component>
      </Directory>

      <Directory Id='$(var.PlatformProgramFilesFolder)'>
        <Directory Id="APPLICATIONFOLDER" Name="TeRa Client">
          <Component Id="Application" Guid="810cbd57-b24d-49ee-939a-a1fc38dda4ff"> <!-- TODO Guid -->
            <File Source="$(var.client_path)\qdigidoc_tera_gui.exe" KeyPath='yes'>
              <Shortcut Id="TeRaClientStartMenu" Advertise="yes" Icon="qdigidoc_tera_gui.exe" Name="TeRa Client"
                Directory="ProgramMenuDir" WorkingDirectory="APPLICATIONFOLDER"/>
            </File>
            <File Source="$(var.client_path)\qdigidoc_tera.exe"/>

<?ifdef var.qt_path ?>
            <?if $(var.Platform) = x64 ?>
                <File Source="C:\Program Files (x86)\Microsoft Visual Studio 12.0\VC\redist\x64\Microsoft.VC120.CRT\msvcp120.dll"/>
                <File Source="C:\Program Files (x86)\Microsoft Visual Studio 12.0\VC\redist\x64\Microsoft.VC120.CRT\msvcr120.dll"/>
            <?else ?>
                <File Source="C:\Program Files (x86)\Microsoft Visual Studio 12.0\VC\redist\x86\Microsoft.VC120.CRT\msvcp120.dll"/>
                <File Source="C:\Program Files (x86)\Microsoft Visual Studio 12.0\VC\redist\x86\Microsoft.VC120.CRT\msvcr120.dll"/>
            <?endif ?>

            <File Source="$(var.qt_path)\bin\Qt5Core.dll"/>
            <File Source="$(var.qt_path)\bin\Qt5Gui.dll"/>
            <File Source="$(var.qt_path)\bin\Qt5Network.dll"/>
            <File Source="$(var.qt_path)\bin\Qt5Widgets.dll"/>
            <File Source="$(var.qt_path)\bin\libEGL.dll"/>
            <File Source="$(var.qt_path)\bin\libGLESv2.dll"/>
            <File Source="$(var.qt_path)\bin\D3DCompiler_47.dll"/>
            <File Source="$(var.qt_path)\bin\opengl32sw.dll" />
<?endif?>

            <!-- OpenSSL libraries needed by Qt -->
            <File Source="$(var.openssl_path)\bin\libeay32.dll" />
            <File Source="$(var.openssl_path)\bin\ssleay32.dll" />

          </Component>
<?ifdef var.qt_path ?>
          <Directory Id="platforms" Name="platforms">
            <Component Id="qwindows.dll">
              <File Source="$(var.qt_path)\plugins\platforms\qwindows.dll"/>
            </Component>
          </Directory>
<?endif?>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="InstallTeRa" Level="1" Title="TeRa Client" Display="expand" ConfigurableDirectory="APPLICATIONFOLDER">
      <ComponentRef Id="Application"/>
      <ComponentRef Id='ProgramMenuDir' />
      <ComponentRef Id="DesktopShortcut" />
<?ifdef var.qt_path ?>
      <ComponentRef Id="qwindows.dll" />
<?endif?>
    </Feature>
  </Product>

  <!-- http://neilsleightholm.blogspot.com.ee/2008/08/customised-uis-for-wix.html -->
  <Fragment>
    <UI Id="WixUI_MondoNoLicense">
      <TextStyle Id="WixUI_Font_Normal" FaceName="Tahoma" Size="8" />
      <TextStyle Id="WixUI_Font_Bigger" FaceName="Tahoma" Size="12" />
      <TextStyle Id="WixUI_Font_Title" FaceName="Tahoma" Size="9" Bold="yes" />

      <Property Id="DefaultUIFont" Value="WixUI_Font_Normal" />
      <Property Id="WixUI_Mode" Value="Mondo" />

      <DialogRef Id="ErrorDlg" />
      <DialogRef Id="FatalError" />
      <DialogRef Id="FilesInUse" />
      <DialogRef Id="MsiRMFilesInUse" />
      <DialogRef Id="PrepareDlg" />
      <DialogRef Id="ProgressDlg" />
      <DialogRef Id="ResumeDlg" />
      <DialogRef Id="UserExit" />

      <Publish Dialog="ExitDialog" Control="Finish" Event="EndDialog" Value="Return" Order="999">1</Publish>

      <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="VerifyReadyDlg">1</Publish>

      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" 
               Order="1">WixUI_InstallMode = "InstallCustom"</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" 
               Order="2">WixUI_InstallMode = "InstallTypical" OR WixUI_InstallMode = "InstallComplete"</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" 
               Order="3">WixUI_InstallMode = "Change"</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="MaintenanceTypeDlg" 
               Order="4">WixUI_InstallMode = "Repair" OR WixUI_InstallMode = "Remove"</Publish>
      <Publish Dialog="VerifyReadyDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" 
               Order="5"/>

      <Publish Dialog="MaintenanceWelcomeDlg" Control="Next" Event="NewDialog" 
               Value="MaintenanceTypeDlg">1</Publish>

      <Publish Dialog="MaintenanceTypeDlg" Control="RepairButton" Event="NewDialog" 
               Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="RemoveButton" Event="NewDialog" 
               Value="VerifyReadyDlg">1</Publish>
      <Publish Dialog="MaintenanceTypeDlg" Control="Back" Event="NewDialog" 
               Value="MaintenanceWelcomeDlg">1</Publish>
    </UI>

    <UIRef Id="WixUI_Common" />
  </Fragment>
  
  
  
  
</Wix>
